# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
MONGO_URI=tryuhjnkm

# Security Keys (CHANGE THESE IN PRODUCTION)
JWT_SECRET=super_secret_jwt_key_change_me_in_production
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Cross-Origin Resource Sharing
CORS_ORIGIN=['*', 'http://localhost:3000', 'http://localhost:5000']

# SaaS Platform Configuration
MAIN_DOMAIN=localhost

# Email Configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

# AWS Configuration (Fill in later)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
AWS_S3_BUCKET_NAME=

# Cloudinary Configuration (Fill in later)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SUPER_ADMIN_SECRET=your_super_admin_secret_key


# Razorpay Configuration
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# PayU Configuration
PAYU_MERCHANT_KEY=MPXalm
PAYU_MERCHANT_SALT=gC4nB57xYIaSkinUWXEaxt3o2AQ2p4Wz
PAYU_BASE_URL=https://test.payu.in
PAYU_SUCCESS_URL=http://localhost:5000/api/v1/payments/payu/success
PAYU_FAILURE_URL=http://localhost:5000/api/v1/payments/payu/failure
FRONTEND_PAYMENT_SUCCESS_URL=http://localhost:8080/payment/success
FRONTEND_PAYMENT_FAILURE_URL=http://localhost:8080/payment/failure




